body {
  margin: 0%;
}
.menubar {
  max-height: 5%;
  min-height: 30px;
  background-color: #261201;
}
.intro {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: wheat;
  background-image: url(pexels-thuan-vo-2500749.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  max-height: 50%;
  min-height: 500px;
  /* background-color: #000; */
  /* opacity: 3%; */
}
.footer {
  max-height: 25%;
  background-color: #261201;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
}
h1 {
  color: #401e01;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
  margin-right: 10vh;
}
address {
  color: burlywood;
  font-family: sans-serif;
  font-size: 16px;
  text-align: justify;
}
p {
  color: black;
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 10%;
}
h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  margin-top: 10%;
}
#plaza {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
